/* BEM - Block Element Modifier is used in this style sheet.

   - used in names of blocks, elements and modifiers.
   __ followed by an element
   -- followed by a modifier

   Cascading is kept to a minimum and naming of classes are supporting
   the symantic structure of the HTML5.
   Names indicating a format are avoided and as not to confuse the semantic
   HTML5 tags.
   
/* Start of default settings */
header, section, article, figure, figcaption, nav, footer, video, address, dialog {
  display: block;
}

/*@charset "UTF-8";
@media screen {
    html {
	background: #f8f8f8;
    } 
} */

* {
  margin: 0;
  padding: 0;
  /*border: 0;*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow: auto;
}

html:focus {
  outline: none;
}

body {
  font-family: VuSerif, serif;
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000EE;
  text-decoration: none;
}

a:visited {
  color: #0000EE;
  /*#551A8B; */
}

a:hover {
  color: #00CCFF;
}

a:active {
  color: #FF0000;
}

/* DejaVu font settings */
@font-face {
  font-family: VuSerif;
  src: url("../fonts/DejaVuSerif.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: VuSerif;
  src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: VuSans;
  src: url("../fonts/DejaVuSans.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: VuMono;
  src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: VuItalic;
  src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
  font-style: normal;
}

.pages {
  width: 450px;
  /*min-width: 400px;*/
  margin: 0 auto;
  position: relative;
}

.page-header__h1 {
  display: inline-block;
  padding-top: 0.4em;
  padding-bottom: 0.8em;
  font-family: VuSerif, serif;
  font-size: 1.345em;
  font-weight: normal;
  text-align: left;
  padding-left: 0.625em;
}

.page-header__h1--logo {
  display: inline-block;
  top: 0.625em;
  vertical-align: middle;
}

.chapter--h2 {
  font-family: VuSans, sans-serif;
  font-size: 1.245em;
  font-weight: normal;
  padding-bottom: 0.4em;
  /* padding-top: 0.8em;*/
  /* width: 760px;*/
  min-width: 400px;
}

.chapter--h3 {
  font-family: VuSans, sans-serif;
  font-size: 1.15em;
  font-weight: normal;
  /* padding-top: 0em;*/
  padding-bottom: 0.4em;
}

.chapter--h4 {
  font-family: VuSans, sans-serif;
  font-size: 1.03em;
  font-weight: normal;
  /* padding-top: 0.6em;*/
  padding-bottom: 0.4em;
}

article.article--paragraph p {
  padding-bottom: 0.5em;
  line-height: 1.3em;
}

section.section--paragraph p {
  padding-bottom: 0.5em;
  line-height: 1.3em;
}

.page-img--left {
  display: block;
  margin-left: 1.25em;
  padding: 0.15em;
  border: 0.025em solid #CCCCCC;
}

.menu-hamburger {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0.625em;
  right: 0.625em;
  height: 22px;
  z-index: 70;
}

.menu-hamburger--show {
  display: block;
  position: absolute;
  right: 0.625em;
  top: calc(1.5em + 0.625em);
  padding: 0.5em;
  width: calc(400px * 1 / 2);
  background-color: #f8f8f8;
  border: 0.025em solid #CCCCCC;
  z-index: 90;
  font-family: VuSans, sans-serif;
}

.menu-hamburger__list {
  list-style-type: none;
  font-size: 90%;
  text-align: right;
}

.js-menu-hamburger--black {
  display: none;
}

.js-menu-hamburger--red {
  display: block;
  position: absolute;
  width: 760px;
  height: 100%;
  right: 0;
  z-index: 70;
}

.js-display-instructions {
  padding-top: 0.75em;
}

.js-display-instructions--closed {
  display: none;
}

.js-display-instructions--open {
  display: block;
  position: relative;
  padding: 0.5em 0 0.5em 0;
  
}

.page-menu {
  display: block;
  font-size: 100%;
  font-family: VuSans, sans-serif;
  padding-left: 1.5em;
}

.page-menu__list {
  list-style-type: none;
  text-align: right;
  /*font-size: 100%;*/
}

table.table-seeds__row-color tr:nth-child(even) {
  background: #E8E8E8;
}

table.table-seeds__row-color tr:nth-child(odd) {
  background: #FFF;
}

table.table-seeds {
  caption-side: top;
  border-collapse: collapse;
  font-family: VuSans, sans-serif;
  font-size: 95%;
  font-weight: normal;
  border: 1px solid #000000;
  margin-bottom: 20px;
  table-layout: auto;
}

table td.table-seeds__col--center {
  text-align: center;
}

table td.del-row__col--center {
  text-align: center;
  cursor: pointer;
}

table caption {
  font-size: 1.125em;
  padding-bottom: 10px;
}

th {
  padding: 2px 5px 2px 10px;
  border: 1px solid #000000;
  background-color: #F6DA74;
  text-align: center;
  font-size: 70%;
}

tr.row__bottom-line {
  border-bottom: 1px solid #000000;
}

tr.row__color {
  background: #E8E8E8;
}

td {
  padding:0.2em;
  border-left: 1px solid #000000;
  line-height: normal;
  font-size: 80%;
}

#page-footer {
  clear: both;
  border-top: 0.025em solid #CCCCCC;
  border-bottom: 0.025em solid #C'
padding-bottom: 0.5em;
  text-align: center;
}

#page-footer p {
  font-size: 0.85em;
}

#js-search-input-seeds {
  background-image: url('../images/search_icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#js-page--to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: -30px;
  z-index: 99;
  width: 30px;
  height: 55px;
  margin-right: calc(((100vw - 400px) / 2) - (100vw - 100%));
  border: none;
  outline: none;
  background-image: url(../images/to_top_word_icon_fat.png);
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color:  #d3d3d3;*/
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#js-page--to-top:hover {
  background-image: url(../images/to_top_word_red_icon_fat.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* Latest changes - might have to rename classes according to BEM */
input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  text-align: left;
  padding: 8px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 100%;
}

label {
  /*display: inline-block;*/
  width: 0%;
  text-align: left;
  font-size: 80%;
}

form {
  /*text-align: center;*/
}

.edit {
  background-image: url(../images/penciledit4.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.delete {
  font-weight: bolder;
}

.undelete {
  font-weight: bolder;
}
.strike{
  text-decoration: line-through;
}

.warningtext {
  color: red;
  font-style: italic;
}


.change-link a:link {
  color: orange;
  text-decoration: none;
}

.change-link a:visited {
  color: orange;
  /*#551A8B; */
}

.change-link a:hover {
  color: red;
}

.change-link a:active {
  color: red;
}

div.alert {
  display: block;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}

.warning {
  background-color: red;
}

.success {
  background-color: green;
}

.format {
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 100%;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    background-color: green;
    cursor: pointer;
}
