/* BEM - Block Element Modifier is used in this style sheet.

   - used in names of blocks, elements and modifiers.
   __ followed by an element
   -- followed by a modifier

   Cascading is kept to a minimum and naming of classes are supporting
   the semantic structure of the HTML5.
   Names indicating a format are avoided and as not to confuse the semantic
   HTML5 tags.

/* Start of default settings */
header, section, article, figure, figcaption, nav, footer, video, address, dialog {
  display: block;
}

/*@charset "UTF-8";
@media screen {
    html {
    background: #f8f8f8;
    }
} */

* {
  margin: 0;
  padding: 0;
  /*border: 0;*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow: auto;
}

html:focus {
  outline: none;
}

body {
  font-family: VuSans, sans-serif;
  background-color: #fdfdf0;
}

p {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
}

a {
  text-decoration: none;
  color: #0000EE;
  cursor: pointer;
}

a:link {
  color: #0000EE;
  text-decoration: none;
}

a:visited {
  color: #0000EE;
  /*#551A8B; */
}

a:hover {
  color: #00CCFF;
}

a:active {
  color: #FF0000;
}

/* DejaVu font settings */
/* @font-face {
  font-family: VuSerif;
  src: url("../fonts/DejaVuSerif.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: VuSerif;
  src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
  font-style: italic;
} */

@font-face {
  font-family: VuSans;
  src: url("../fonts/DejaVuSans.ttf") format("truetype");
  font-style: normal;
}

  @font-face {
  font-family: VuMono;
  src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
  font-style: normal;
}

/* @font-face {
  font-family: VuItalic;
  src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
  font-style: normal;
} */

.screen {
  width: 500px;
  /*min-width: 400px;*/
  margin: 0 auto;
  position: relative;
}

.page-header__h1 {
  display: inline-block;
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
  font-family: VuSans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding-left: 0.625rem;
}

.page-header__h1--logo {
  display: inline-block;
  top: 0.625rem;
  vertical-align: middle;
}

.chapter--h2 {
  font-family: VuSans, sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
  min-width: 400px;
}

.chapter--h3 {
  font-family: VuSans, sans-serif;
  font-size: 0.935rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  font-weight: normal;
}

.chapter--h4 {
  font-family: VuSans, sans-serif;
  font-size: 0.95rem;
  font-weight: normal;
  padding-bottom: 0.3rem;
}

article.article--paragraph p {
  padding-bottom: 0.3rem;
}

section.section--paragraph p {
  padding-bottom: 0.3rem;
}

.page-img--left {
  display: block;
  margin-left: 1.25rem;
  padding: 0.15rem;
  border: 0.025rem solid #CCCCCC;
}

table.table-seeds__row-color tr:nth-child(even) {
  background: #E8E8E8;
}

table.table-seeds__row-color tr:nth-child(odd) {
  background: #fdfdf0;
}

table.table-seeds {
  margin-top: 1rem;
  border-collapse: collapse;
  font-family: VuSans, sans-serif;
  font-weight: normal;
  border: 2px solid #ccc;
  table-layout: auto;
}

table td.table-seeds__col--center {
  text-align: center;
}

table td.del-row__col--center {
  text-align: center;
  cursor: pointer;
}

th {
  padding: 0.2rem;
  border: 2px solid #ccc;
  background-color: #F6DA74;
  text-align: center;
  font-size: 0.8rem;
}

td {
  padding:0.15rem;
  border: 2px solid #ccc;
  line-height: normal;
  font-size: 0.78rem;
}
tr.row__bottom-line {
  border-bottom: 1px solid #000000;
}

#page-footer {
  clear: both;
  margin-top: 0.5rem;
  border-top: 0.025rem solid #CCC;
  border-bottom: 0.025rem solid #CCC;
  padding-bottom: 0.5rem;
  text-align: center;
}

#page-footer p {
  padding-top: 0.55rem;
  font-size: 0.75rem;
}

#js-page--to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: -30px;
  z-index: 50; /*was 99*/
  width: 30px;
  height: 55px;
  margin-right: calc(((100vw - 450px) / 2) - (100vw - 100%));
  border: none;
  outline: none;
  background-image: url(../images/to_top_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#js-page--to-top:hover {
  background-image: url(../images/to_top_red_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* Latest changes - might have to rename classes according to BEM */
input {
  font-size: 0.9rem;
}

input[type=text] {
  width: 30%;
  padding: 0.1rem;
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=number] {
  width: 20%;
  font-family: VuMono, monospace;
  padding: 0.1rem;
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=date] {
  width: 20%;
  font-family: VuMono, monospace;
  padding: 0.1rem;
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input.no-edit {
  background-color: #E8E8E8;
}
.selected {
  display: block;
  background-color: unset;
  color:black;
  height: 1.1rem;
  border: none;
  cursor: pointer;
}
.selected:hover {
  background-color:#C5C5C5;
}

.select-delete {
  display: inline-block;
  background-color: #E8E8E8;
  color: black;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.select-delete:hover {
  background-color: #CFCFCF;
}

form label {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: .85rem;
}

label.notes {
  vertical-align: top;
}

.edit-record {
  background-image: url(../images/edit-pencil.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

div.alert {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0.15rem;
  width: auto;
}

.warning {
  background-color: red;
}

.success {
  background-color: green;
}

#js-page--to-bottom { /* fix into rem */
  display: block;
  position: fixed;
  top: -12px;
  right: -30px;
  z-index: 20; /* was 30 */
  width: 30px;
  height: 55px;
  margin-right: calc(((100vw - 450px) / 2) - (100vw - 100%));
  border: none;
  outline: none;
  background-image: url(../images/to_bottom_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color:  #d3d3d3;*/
  cursor: pointer;
}

#js-page--to-bottom:hover {
  background-image: url(../images/to_bottom_red_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
th.sort{
  cursor: pointer;
}

textarea {
  font-family: VuSans, sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 0.1rem;
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.buttons-container {
  display: flex;
  flex-grow: wrap;
  justify-content: left;
  gap: 0.35rem;
  box-sizing: content-box; 
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

div.center {
  text-align: center;
}

.js-edit-seed-pkt--closed {
  display: none;
}

.js-edit-seed-pkt--opened {
  display: block;
}

ul {
  list-style-type: none;
}

.js-all-pages--opened {
  display: block;
}
.js-all-pages--none {
  display: none;
}

input.input-search-icon {
  text-align: left;
  margin: unset;
  padding: 0.15rem;
  width: 10rem;
  height: 1.2rem;
}

img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

label.db-process {
  font-size: 0.9rem;
  display: inline-block;
}

ul.message {
  font-size: 0.85rem;
  margin-bottom: 0.7rem;
  list-style-type: square;
  list-style-position: inside;
}
 
.buttons-db-container {
  display: flex;
  flex-grow: wrap;
  justify-content: left;
  gap: 0.35rem;
  box-sizing: content-box; 
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

.selected-db {
  display: block;
  background-color: unset;
  color:black;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}

.selected-db:hover {
  background-color:#C5C5C5;
}

section.borders {
  /*margin-top: 0.3rem;*/
  /*border-top: 0.025rem solid #CCCCCC;*/
  border-bottom: 0.025rem solid #CCCCCC;
}

section.indent p, nav, ul {
  margin-left: 1rem;
}


