/* https://en.bem.info/methodology/quick-start/#block
  BEM - Block Element Modifier is used in this style sheet.
   - used in names of blocks, elements and modifiers.
   __ followed by an element
    _ followed by a modifier
   Cascading is kept to a minimum and naming of classes are supporting the 
   semantic structure of the HTML5.
   Names indicating a format (except for the modifier) are avoided and as 
   not to confuse the semantic HTML5 tags. 
*/     
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}*/

/* End of default settings */
header, section, article, figure, figcaption, nav, footer, video, address {
  display: block;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font:inherit;
	vertical-align: baseline;
}

/* Default element settings for this document */
html{
  /* scroll bar fix */
  box-sizing: border-box;
  height: 100%;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow: auto;
    /* 10px equivalent and this wiil be 1rem. Font root setting*/
  font-size: 62.5%;
}
html:focus {
  outline: none;
}
@font-face {
  font-family: vusanswoff;
  src: url("../fonts/dejavu.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: vumonowoff;
  src: url("../fonts/dejavumono.woff2") format("truetype");
  font-style: normal;
}
/* End of default settings for this document */
.page{
  font-family: vusanswoff, sans-serif;
  background-color: #fdfdf0;
  width: 500px;
  margin: 0 auto;
  position: relative;
  border: 0.1rem solid #ccc;
}
.page__section_show {
  display: block;
}
.page__section_hide {
  display: none;
}
.page__section_show_indent {
  margin-left: 1rem;
}
.page__paragraph {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.page__header {
}
.header__level-1 {
  font-size: 1.65rem;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}
.header__level-2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.header__level-3 {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.header__level-4 {
  font-size: 1.35rem;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem
}
.page__footer {
  clear: both;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer {
  border-top: 0.025rem solid #CCC;
  border-bottom: 0.025rem solid #CCC;
  padding-bottom: 0.5rem;
  text-align: center;
}
.footer__paragraph {
  padding-top: 0.55rem;
  font-size: 1.3rem;
}
.footer__image {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
/* Menu */
.menu {}
.page__btn-menu {
/* Outside block settings for btn__menu */
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  margin-left:  0;
}
.btn-menu {
/* Inside generic block settings */
  display: flex;
  flex-grow: wrap;
  justify-content: left;
  gap: 0.6rem;
  box-sizing: content-box; 
  width: 100%;
  height: 1.9rem;
  align-items: center;
  text-align: center;
  padding-left: 0.6rem;
}
.btn-menu_right {
  justify-content: right;
}
.btn-menu__items {
  display: block;
  background-color: unset;
  color:black;
  height: 1.725rem;
  border: none;
  cursor: pointer;
}
.btn-menu__items_outline {
  font-size: 1.3rem;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  background-color: #E5E4E2;
  height: 2rem;
  padding: 0.25rem;
}
.btn-menu__items_larger {
  height: 2.5rem;
}
.btn-menu__items_search {
  text-align: left;
  /*margin: unset;*/
  /*padding: 0.15rem;*/
  border: 1px solid #ccc;
  width: 10rem;
  height: 1.9rem;
  font-size: 1.4rem;
}
.btn-menu__items:hover {
  background-color:#C5C5C5;
}
/* Home Page */
.home-page {}
.home-page__table {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.table {
  /*width: 100%;*/
  border-collapse: collapse;
  border: 2px solid #ccc;
  table-layout: auto;
}
.table__header {  
  background-color: #F6DA74;
  text-align: center;
  font-size: 1.15rem;
/*  font-weight: bold;*/
}
.table__header_sort {
  padding: 0.2rem;
  border: 2px solid #ccc;
  cursor: pointer;
}
.table__header_no-sort {
  padding: 0.2rem;
  border: 2px solid #ccc;
  cursor: pointer;
}
.table__data {
  padding:0.2rem;
  border: 2px solid #ccc;
  line-height: normal;
  font-size:1.15rem;
}
.table__data_center {
  text-align: center;
}
.table__data_right {
  text-align: right;
}
.table__data_edit {
  background-image: url(../images/edit-pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.2rem;
  cursor: pointer;
}
.table__row_color {
}
.table__row_color:nth-child(even) {
  background-color: #E8E8E8;
}
.table__row_color:nth-child(odd) {
  background: #fdfdf0;
}
/* Edit Page */
.edit-page{
  /*font-size: 1.2rem;*/
}
.form {
  font-size: 1.2rem;
}
.form__paragraph {
  font-size: 1.2rem;
  padding: 0 0 0.6rem 1.2rem;
}
.form__input {
  padding: 0.1rem;
  margin: 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form__input[type=text] {
  width: 25%; 
}
.form__input[type=number] {
  width: 15%;
  font-family: vumonowoff, monospace;
}
.form__input[type=date] {
  width: 20%;
  font-family: vumonowoff, monospace;
}
.form__input_gray {
  background-color: #E8E8E8;
}
.form__input_mono-font {
  font-family: vumonowoff, monospace;
}
.form__textarea {
  display: inline-block;
  padding: 0.1rem;
  margin: 0.2rem;
  width: 30%;
  text-align: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form__label {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: right;
}
/* Backup Page */
.backup-page {}
.label_inline{
  font-size: 1.3rem;
}
.ul_js-message {
  font-size: 1.25rem;
  padding: 0.7rem 0 0.7rem;
  list-style-type: square;
  list-style-position: inside;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal:modal { 
  padding: 1.5rem;
  background-color: #fdfdf0;
  border: 0.1rem solid #ccc;
}
.modal::backdrop {
  background: rgb(0 0 0 /.4);
}
.img_border {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/






a {
  text-decoration: none;
  color: #0000EE;
  cursor: pointer;
}

a:link {
  color: #0000EE;
  text-decoration: none;
}

a:visited {
  color: #0000EE;
}

a:hover {
  color: #00CCFF;
}

a:active {
  color: #FF0000;
}



/* Latest changes - might have to rename classes according to BEM */



/*.select-delete {
  display: inline-block;
  background-color: #E8E8E8;
  color: black;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}*/
/*.select-delete:hover {
  background-color: #CFCFCF;
}*/






div.alert {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0.15rem;
  width: auto;
}

.warning {
  background-color: red;
}

.success {
  background-color: green;
}








